.widgetLrg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
  padding: 20px;
}
.widgetLrgTitle {
  font-size: 22px;
  font-weight: 600;
}
.widgetLrgTable {
  width: 100%;
  border-spacing: 20px;
}
.widgetLrgTh {
  text-align: left;
}
.widgetLrgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.widgetLrgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.widgetLrgDate,
.widgetLrgAmount,
.widgetLrgStatus {
  font-weight: 300;
}
.widgetLrgButton {
  width: 65px;
  height: 30px;
  border: none;
  border-radius: 6px;
}
.widgetLrgButton.Approved {
  background-color: #d0ffed;
  color: #3bb077;
}
.widgetLrgButton.Declined {
  background-color: #fde2e3;
  color: #d95087;
}
.widgetLrgButton.Pending {
  background-color: #faf1c1;
  color: rgb(201, 181, 67);
}
