.UserList {
  flex: 4;
}
.userListUser {
  display: flex;
  align-items: center;
}
.userListUserImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  object-fit: cover;
  margin-right: 10px;
}
.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: #4cdd97;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}
.userListEdit:hover {
  background-color: #3bb077;
}
.userListDelete {
  height: 24px;
  width: 13px;
  color: red;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in-out !important;
}
.userListDelete:hover {
  background-color: red;
  color: white;
}
